---
import Layout from "../../layouts/Layout.astro";
import AstroCounter from "./_components/astro/Counter.astro";
---

<Layout>
  <h1 class="mb-10 text-4xl font-bold text-center">Astro components</h1>
  <div class="w-md mx-auto">
    <AstroCounter title="Astro" />
  </div>
</Layout>
