<div class="p-6 bg-[#fae5fc] border-2 border-[#f041ff] rounded-lg shadow-md">
  <h1 class="text-3xl text-center font-bold text-[#f041ff] mb-5">Astro</h1>
  <p
    class="text-9xl text-center font-bold text-gray-800 mb-5"
    id="astro-counter-value"
  >
    0
  </p>
  <div class="flex space-x-4 justify-center">
    <button
      class="px-4 py-2 bg-[#f041ff] text-white rounded cursor-pointer hover:opacity-70 transition"
      id="astro-increment-button"
    >
      Increment
    </button>
    <button
      class="px-4 py-2 bg-[#f041ff] text-white rounded cursor-pointer hover:opacity-70 transition"
      id="astro-decrement-button"
    >
      Decrement
    </button>
    <button
      class="px-4 py-2 bg-gray-300 text-gray-800 rounded cursor-pointer hover:opacity-70 transition"
      id="astro-reset-button"
    >
      Reset
    </button>
  </div>
</div>

<script>
  const incrementButton = document.getElementById("astro-increment-button")!;
  const decrementButton = document.getElementById("astro-decrement-button")!;
  const resetButton = document.getElementById("astro-reset-button")!;
  const counterValue = document.getElementById("astro-counter-value")!;

  function increment() {
    counterValue.textContent = (
      parseInt(counterValue.textContent!) + 1
    ).toString();
  }

  function decrement() {
    counterValue.textContent = (
      parseInt(counterValue.textContent!) - 1
    ).toString();
  }

  function reset() {
    counterValue.textContent = "0";
  }

  incrementButton.addEventListener("click", increment);
  decrementButton.addEventListener("click", decrement);
  resetButton.addEventListener("click", reset);
</script>
