<div class="p-6 bg-[#fae5fc] border-2 border-[#f041ff] rounded-lg shadow-md">
  <div class="flex justify-between items-center mb-5">
    <h1 class="text-xl text-center font-bold text-[#f041ff]">
      Astro: <span id="astro-counter-value">0</span>
    </h1>
    <div class="flex gap-2">
      <button
        class="py-2 px-4 bg-[#f041ff] text-white rounded cursor-pointer hover:opacity-70 transition"
        id="astro-increment-button"
      >
        +
      </button>
      <button
        class="py-2 px-4 bg-[#f041ff] text-white rounded cursor-pointer hover:opacity-70 transition"
        id="astro-decrement-button"
      >
        -
      </button>
      <button
        class="py-2 px-4 bg-gray-300 text-gray-800 rounded cursor-pointer hover:opacity-70 transition"
        id="astro-reset-button"
      >
        ↺
      </button>
    </div>
  </div>
  <slot />
</div>

<script>
  const incrementButton = document.getElementById("astro-increment-button")!;
  const decrementButton = document.getElementById("astro-decrement-button")!;
  const resetButton = document.getElementById("astro-reset-button")!;
  const counterValue = document.getElementById("astro-counter-value")!;

  function increment() {
    const currentValue = parseInt(counterValue.textContent!);
    const newValue = currentValue + 1;
    counterValue.textContent = newValue.toString();
  }

  function decrement() {
    const currentValue = parseInt(counterValue.textContent!);
    const newValue = currentValue - 1;
    counterValue.textContent = newValue.toString();
  }

  function reset() {
    counterValue.textContent = "0";
  }

  incrementButton.addEventListener("click", increment);
  decrementButton.addEventListener("click", decrement);
  resetButton.addEventListener("click", reset);
</script>
